<!-- Rocketseat: LaunchBase Bootcamp
     Refactoring Foodfy Challenge -->

{% extends "layout.njk" %}

{% block head %}

    <title>About | Foodfy</title>

{% endblock %}

{% block header %}

    <header class="header">
        <div class="header-wrapper">
            <div class="header-logo">
                <a href="/">
                    <img src="/images/logo.png" alt="Foodfy">
                </a>
            </div>

            <div class="header-nav">
                <nav>
                    <ul>
                        <li>
                            <a href="/about" class="current-page">
                                Sobre
                            </a>
                        </li>

                        <li>
                            <a href="/recipes">
                                Receitas
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <main>
        <header class="main-header">
            <div>
                <h2>
                    <!-- Main header title -->
                </h2>
            </div>
        </header>

        <section class="informations">
            <article class="information">
                <h2>
                    Sobre o Foodfy
                </h2>

                <p>
                    Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo.
                    Aliquam vel lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget
                    tincidunt risus. Mauris malesuada facilisis magna, vitae volutpat sapien tristique eu. Morbi metus
                    nunc, interdum in erat placerat, aliquam iaculis massa. Duis vulputate varius justo pharetra
                    maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis, non dictum metus.
                    Vivamus ligula ex, semper vitae eros ut, euismod convallis augue.<br><br>Fusce nec pulvinar nunc.
                    Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. Proin ligula lectus,
                    rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer
                    in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at
                    accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales eros. Nunc ut nulla
                    faucibus enim ultricies euismod.
                </p>
            </article>

            <article class="information">
                <h3>
                    Como tudo começou...
                </h3>

                <p>
                    Suspendisse placerat neque neque. Morbi dictum nulla non sapien rhoncus, et mattis erat commodo.
                    Aliquam vel lacus a justo mollis luctus. Proin vel auctor eros, sed eleifend nunc. Curabitur eget
                    tincidunt risus. Mauris malesuada facilisis magna, vitae volutpat sapien tristique eu. Morbi metus
                    nunc, interdum in erat placerat, aliquam iaculis massa. Duis vulputate varius justo pharetra
                    maximus. In vehicula enim nec nibh porta tincidunt. Vestibulum at ultrices turpis, non dictum metus.
                    Vivamus ligula ex, semper vitae eros ut, euismod convallis augue.<br><br>Fusce nec pulvinar nunc.
                    Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut accumsan. Proin ligula lectus,
                    rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan felis, eu ultrices lacus. Integer
                    in tincidunt arcu, et posuere ligula. Morbi cursus facilisis feugiat. Praesent euismod nec nisl at
                    accumsan. Donec libero neque, vulputate semper orci et, malesuada sodales eros. Nunc ut nulla
                    faucibus enim ultricies euismod.
                </p>
            </article>

            <article class="information">
                <h3>
                    Nossas receitas
                </h3>

                <p>
                    Fusce nec pulvinar nunc. Duis porttitor tincidunt accumsan. Quisque pulvinar mollis ipsum ut
                    accumsan. Proin ligula lectus, rutrum vel nisl quis, efficitur porttitor nisl. Morbi ut accumsan
                    felis, eu ultrices lacus. Integer in tincidunt arcu, et posuere ligula. Morbi cursus facilisis
                    feugiat. Praesent euismod nec nisl at accumsan. Donec libero neque, vulputate semper orci et,
                    malesuada sodales eros. Nunc ut nulla faucibus enim ultricies euismod.
                </p>
            </article>
        </section>
    </main>

{% endblock %}
