<!-- Rocketseat: LaunchBase Bootcamp
     Challenge 04-02: Teacher's Card -->

{% extends "layout.njk" %}

{% block content %}

<div class="card">
     <section class="profile-picture">
     </section>

     <section class="profile-details">
          <h3>
               Details
          </h3>

          <div class="profile-detail">
               <div>
                    Name
               </div>

               <div>
                    Ricardo Miguez
               </div>
          </div>

          <div class="profile-detail">
               <div>
                    Age
               </div>

               <div>
                    30
               </div>
          </div>

          <div class="profile-detail">
               <div>
                    Education
               </div>

               <div>
                    Postgraduate
               </div>
          </div>

          <div class="profile-detail">
               <div>
                    Teaching Method
               </div>

               <div>
                    Video Conference
               </div>
          </div>

          <div class="profile-detail">
               <div>
                    Courses
               </div>

               <div>
                    <span>
                         Design
                    </span>

                    <span>
                         Music
                    </span>
               </div>
          </div>

          <div class="profile-detail">
               <div>
                    Member Since
               </div>

               <div>
                    September, 2011
               </div>
          </div>
     </section>
</div>

{% endblock %}
