<!-- Rocketseat: LaunchBase Bootcamp
     Challenge 03-02: Nunjuck Files and Dynamic Data -->

{% extends "layout.njk" %}

{% block header %}

    <header>
        <div>
            <a href="/">Home</a>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Community</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Phone</a>
            <a href="/about" class="current-page">About</a>
            <a href="/content">Content</a>
        </div>
    </header>

{% endblock %}

{% block content %}

    <section class="company-logo">
        <div> 
            <img src="{{ about.company.icon }}" alt="{{ about.company.name }}" />
        </div>
        <h1>{{ about.company.name }}</h1>
    </section>

    <div class="company-description">
        <h2>{{ about.company.description }}</h2>
    </div>

    <div class="company-technologies">
        <div>
            <h3>Some technologies we teach and use:</h3>
        </div>
        <ul>

            {% for technology in about.company.technologies %}

                <li>{{ technology }}</li>

            {% endfor %}

        </ul>
    </div>

    <div class="social-networks">

        {% for social_network in about.company.social_networks %}

            <a href="{{ social_network.url }}" target="_blank">{{ social_network.name }}</a>

        {% endfor %}

    </div>

{% endblock %}
