<!-- Rocketseat: LaunchBase Bootcamp
     Challenge 05-04: Database Results Pagination -->

<script>
    const deleteForm = document.querySelector(".deleteForm");

        deleteForm.addEventListener("submit", function(event) {
            const confirmation = confirm("Do you really want to delete?");

            if (!confirmation) {
                event.preventDefault();
            }
        });
</script>
