<!-- Rocketseat: LaunchBase Bootcamp
     Challenge 03-01: First Server -->

{% extends "layout.njk" %}

{% block header %}

    <header>
        <div>
            <a href="/" class="current-page">Home</a>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Community</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Phone</a>
            <a href="/about">About</a>
            <a href="/content">Content</a>
        </div>
    </header>

{% endblock %}

{% block content %}

    <div class="background">
        <img src="/images/astronaut.svg" alt="Astronaut" />
    </div>

{% endblock %}
