<!-- Rocketseat: LaunchBase Bootcamp
     Challenge 03-01: First Server -->

<!DOCTYPE html>
<html>
<head>
    <title>Rocketseat</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="/styles/main.css" />
</head>
<body>

    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

</body>
</html>
