/* Rocketseat: LaunchBase Bootcamp
   Challenge 02-02: Description Page */

* {
    margin: 0;
    padding: 0;

    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;

    background: #fff;
}

header div {
    padding: 30px;

    text-align: center;

    background: #7159c1;
}

header div a {
    position: relative;

    margin: 0 15px;
    padding: 5px 0;

    transition: color .3s;
    text-decoration: none;
    text-transform: uppercase;

    color: #af9ee6;
}

header div a:hover {
    transition: color .3s;

    color: #fff;
}

.current-page {
    color: #fff;
}

.background img {
    display: block;

    width: 600px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}

.company-logo {
    display: flex;

    padding: 120px 0;

    align-items: center;
    justify-content: center;
}

.company-logo div {
    display: inline-flex;

    width: 200px;
    height: 200px;
    margin-right: 50px;

    border-radius: 50%;
    background: #7159c1;

    align-items: center;
    justify-content: center;
}

.company-logo div img {
    height: 127.5px;
}

.company-logo h1 {
    font-size: 75px;

    padding: 0;

    color: #7159c1;
}

.company-description {
    width: 600px;
    margin: auto;

    text-align: center;
}

.company-description h2 {
    font-size: 32px;
    line-height: 48px;

    color: #4b4b4b;
}

.company-technologies {
    display: flex;
    flex-direction: column;

    padding: 60px 0;

    text-align: center;

    justify-content: center;
}

.company-technologies div {
    margin: auto;
    padding: 60px 0;
}

.company-technologies h3 {
    font-size: 24px;
    font-weight: normal;

    color: #af9ee6;
}

.company-technologies ul {
    font-size: 20px;
    line-height: 60px;

    list-style-type: none;

    color: #7159c1;
}

.social-networks {
    padding-top: 60px;
    padding-bottom: 30px;

    text-align: center;
}

.social-networks a {
    font-size: 14px;

    margin: 0 30px;

    text-decoration: none;

    color: #af9ee6;
}

.social-networks a:hover {
    transition: color .3s;

    color: #7159c1;
}
