<!-- Rocketseat: LaunchBase Bootcamp
     Challenge 03-03: Course Description Page -->

{% extends "layout.njk" %}

{% block header %}

    <header>
        <div>
            <a href="/">Home</a>
            <a href="https://discordapp.com/invite/gCRAFhc" target="_blank">Community</a>
            <a href="mailto:oi@rocketseat.com.br">Email</a>
            <a href="tel:+5547992078767">Phone</a>
            <a href="/about">About</a>
            <a href="/content" class="current-page">Content</a>
        </div>
    </header>

{% endblock %}

{% block content %}

    <h2 class="page-title">Posts</h2>

    <section class="cards">

    {% for card in cards %}

        <div class="card clickable" id="{{ card.id }}">
            <div class="card-image">
                <img src="{{ card.image_url }}" alt="{{ card.title }} Post Image" />
            </div>
            <div class="card-title">
                <p>{{ card.title }}</p>
            </div>
            <div class="card-info">
                <p class="author">{{ card.author }}</p>
                <p class="reading-time">{{ card.reading_time }} min de leitura</p>
            </div>
        </div>

    {% endfor %}

    <script src="/scripts/main.js"></script>

{% endblock %}
