<!-- Rocketseat: LaunchBase Bootcamp
     Challenge 03-03: Course Description Page -->

{% extends "layout.njk" %}

{% block content %}

        <div class="error">
            <h1>Ooops!</h1>
            <h2>404 - Page not found</p>
        </div>

{% endblock %}
