<!-- Rocketseat: LaunchBase Bootcamp
     Foodfy Administration Challenge -->

{% extends "layout.njk" %}

{% block head %}

    <script src="/scripts/main.js" defer></script>
    <title>{{ recipeDetails.title }} | Foodfy</title>

{% endblock %}

{% block header %}

    <header class="header">
        <div class="header-wrapper">
            <div class="header-logo">
                <a href="/">
                    <img src="/images/logo-black.png" alt="Foodfy">
                </a>
            </div>

            <div class="header-nav">
                <nav>
                    <ul>
                        <li>
                            <a href="/about">
                                Sobre
                            </a>
                        </li>

                        <li>
                            <a href="/recipes" class="current-page">
                                Receitas
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

{% endblock %}

{% block content %}

    <main>
        <header class="main-header">
            <div>
                <h2>
                    <!-- Main header title -->
                </h2>
            </div>
        </header>

        <section class="recipe-details">
            <div class="recipe-details-image">
                <img src="{{ recipeDetails.recipeImageUrl }}" alt="{{ recipeDetails.title }}">
            </div>

            <div class="recipe-details-title">
                <h1>
                    {{ recipeDetails.title }}
                </h1>
            </div>

            <div class="recipe-details-author">
                <p>
                    por {{ recipeDetails.author }}
                </p>
            </div>

            <div class="recipe-details-ingredients">
                <div class="recipe-details-ingredients-title">
                    <h2>
                        Ingredientes
                    </h2>

                    <a class="show-hide-button">
                        MOSTRAR
                    </a>
                </div>

                <div class="recipe-details-ingredients-list recipe-details-hide">
                    <ul>

                        {% for ingredient in recipeDetails.ingredients %}

                            <li>
                                <p>
                                    {{ ingredient }};
                                </p>
                            </li>

                        {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="recipe-details-preparation">
                <div class="recipe-details-preparation-title">
                    <h2>
                        Modo de preparo
                    </h2>

                    <a class="show-hide-button">
                        MOSTRAR
                    </a>
                </div>

                <div class="recipe-details-preparation-list recipe-details-hide">
                    <ul>

                        {% for preparation in recipeDetails.preparation %}

                            <li>
                                <p>
                                    {{ preparation }}
                                </p>
                            </li>

                        {% endfor %}

                    </ul>
                </div>
            </div>

            <div class="recipe-details-information">
                <div class="recipe-details-information-title">
                    <h2>
                        Informações adicionais
                    </h2>

                    <a class="show-hide-button">
                        MOSTRAR
                    </a>
                </div>

                <div class="recipe-details-information-text recipe-details-hide">
                    <p>{{ recipeDetails.information }}</p>
                </div>
            </div>
        </section>
    </main>

{% endblock %}
